body {
    background-image: url('rousoku.jpg'); /* ラーメンをテーマにした背景画像 */
    background-size: cover; /* 画面全体に合わせて拡大縮小 */
    background-position: center; /* 背景の中央を表示 */
    background-repeat: no-repeat; /* 繰り返さない */
    background-attachment: fixed; /* スクロールしても背景を固定 */
    font-family: 'Roboto', sans-serif;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vw;
    margin: 0;
    width:: calc(100vw * 1080 / 1920); /* 幅に基づいて高さを計算 */
}

.text {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 30px;
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 30%;
}

.hashtags {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #555;
    text-align: center;
    margin-top: 5px;
    letter-spacing: 1px;
}

